@import "tailwindcss";

body {
  /* Deep dark blue/slate base */
  background-color: #0f172a; 
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: #f8fafc; /* Default text color is now light */
}

input , textarea , select{
  color: #111827;
  background-color: #f9fafb;
}